/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/css.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Mixins
----------------------------------------------*/
/* line 38, ../sass/css.scss */
.pagination-list,
.main-nav {
  list-style: none;
}
/* line 14, ../sass/css.scss */
.pagination-list:after,
.main-nav:after {
  display: block;
  content: "";
  clear: both;
}
/* line 41, ../sass/css.scss */
.pagination-list li,
.main-nav li {
  float: left;
  margin: 0 5px;
}
/* line 45, ../sass/css.scss */
.pagination-list li a,
.main-nav li a {
  display: inline-block;
  padding: 2px;
}

/*Typography
-----------------*/
/* line 80, ../sass/css.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* line 85, ../sass/css.scss */
h1 {
  font-size: 24px;
  padding: 10px 0;
}

/* line 89, ../sass/css.scss */
h2 {
  font-size: 18px;
  padding: 5px 0;
}

/* line 93, ../sass/css.scss */
h3 {
  font-size: 16px;
  padding: 2px 0;
}

/*Generic styles
----------------------------------------------*/
/*Main layout
----------------------------------------------*/
/* line 109, ../sass/css.scss */
.main-holder {
  padding: 15px;
}

/* line 114, ../sass/css.scss */
.main-header,
.main-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Components
----------------------------------------------*/
/* line 123, ../sass/css.scss */
.search .btn {
  display: inline-block;
  background: #00A285;
  border: 0;
  padding: 4px 5px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* line 71, ../sass/css.scss */
.search input[type="text"] {
  font-size: 14px;
  padding: 4px;
  margin: 0;
}

/* line 130, ../sass/css.scss */
.order-btn {
  display: block;
  padding: 10px 0;
  color: #aaa;
  text-transform: lowercase;
}

/* line 140, ../sass/css.scss */
.entry-row {
  padding: 5px 0;
}
/* line 14, ../sass/css.scss */
.entry-row:after {
  display: block;
  content: "";
  clear: both;
}

/* line 145, ../sass/css.scss */
.entries {
  padding-bottom: 30px;
}
/* line 148, ../sass/css.scss */
.entries .term {
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #000;
}
/* line 154, ../sass/css.scss */
.entries .term-description {
  padding-left: 20px;
}
/* line 158, ../sass/css.scss */
.entries .btn {
  width: 100px;
  float: right;
  display: inline-block;
  background: #00A285;
  border: 0;
  padding: 4px 5px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* line 165, ../sass/css.scss */
.pagination {
  padding: 10px 0;
}
/* line 22, ../sass/css.scss */
.pagination a {
  color: black;
  text-decoration: none;
}
/* line 26, ../sass/css.scss */
.pagination a:hover {
  color: black;
  text-decoration: underline;
}
/* line 32, ../sass/css.scss */
.pagination a:active,
.pagination a:focus,
.pagination .active a {
  color: black;
  font-weight: bold;
}

/* line 170, ../sass/css.scss */
.pagination .disabled a {
  color: #aaa;
}

/* line 22, ../sass/css.scss */
.main-nav a {
  color: black;
  text-decoration: none;
}
/* line 26, ../sass/css.scss */
.main-nav a:hover {
  color: black;
  text-decoration: underline;
}
/* line 32, ../sass/css.scss */
.main-nav a:active,
.main-nav a:focus,
.main-nav .active a {
  color: black;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  /* line 181, ../sass/css.scss */
  .main-holder {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }

  /* line 184, ../sass/css.scss */
  .main-footer {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
}
