html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Mixins
----------------------------------------------*/
.pagination-list:after,
.main-nav:after, .entry-row:after, .entries .term-description:after {
  display: block;
  content: "";
  clear: both;
}

.pagination-list,
.main-nav {
  list-style: none;
}
.pagination-list li,
.main-nav li {
  float: left;
  margin: 0 5px;
}
.pagination-list li a,
.main-nav li a {
  display: inline-block;
  padding: 2px;
}

/*Typography
-----------------*/
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  padding: 10px 0;
}

h2 {
  font-size: 18px;
  padding: 5px 0;
}

h3 {
  font-size: 16px;
  padding: 2px 0;
}

/*Generic styles
----------------------------------------------*/
.btn {
  display: inline-block;
  background: #00A285;
  border: 0;
  padding: 4px 5px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"] {
  font-size: 14px;
  padding: 4px;
  margin: 0;
}

.hr-wrapper {
  padding: 10px 0;
}

/*Main layout
----------------------------------------------*/
body {
  padding: 15px;
}

.main-header,
.main-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Components
----------------------------------------------*/
.form .form-row {
  padding-bottom: 10px;
}
.form label {
  display: block;
  padding: 5px 0;
}

.search {
  padding: 30px 0;
}

.search-result {
  height: 30px;
}

.order-btn {
  display: block;
  padding: 10px 0;
  color: #aaa;
  text-transform: lowercase;
}

.entry-row {
  padding: 5px 0;
}

.single .entries .term {
  display: none;
}
.single .entries .term:first-child {
  display: block;
}
.single .entries .term-description {
  padding-top: 10px;
  padding-bottom: 10px;
}

.entries {
  padding-bottom: 30px;
}
.entries .term {
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #000;
}
.entries .term a {
  color: #000;
  text-decoration: none;
}
.entries .term-description {
  padding-left: 20px;
}
.entries .btn {
  width: 100px;
  float: right;
}

.pagination {
  padding: 10px 0;
}
.pagination a {
  color: black;
  text-decoration: none;
}
.pagination a:hover {
  color: black;
  text-decoration: underline;
}
.pagination a:active,
.pagination a:focus,
.pagination .active a {
  color: black;
  font-weight: bold;
}

.pagination .disabled a {
  color: #aaa;
}

.main-nav a {
  color: black;
  text-decoration: none;
}
.main-nav a:hover {
  color: black;
  text-decoration: underline;
}
.main-nav a:active,
.main-nav a:focus,
.main-nav .active a {
  color: black;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
}
