@import "compass/reset";
@import "compass";

* {
	@include box-sizing(border-box);
}

/*Mixins
----------------------------------------------*/
$small-screen: 350px;
$medium-screen: 768px;

@mixin clearfix {
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

@mixin link-styles ($normal, $hover, $weight) {
	a {
		color: $normal;
		text-decoration: none;
	}
	a:hover {
		color: $hover;
		text-decoration: underline;
	}
	a:active,
	a:focus,
	.active a {
		color: $hover;
		font-weight: $weight;
	}
}

%horizontal-list {
	list-style: none;
	@include clearfix;
	li {
		float: left;
		margin: 0 5px;
	}
	li a {
		display: inline-block;
		padding: 2px;
	}
}

@mixin btn {
	display: inline-block;
	background: #00A285;
	border: 0;
	padding: 4px 5px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

@mixin center {
	max-width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
}

@mixin text-input {
	input[type="text"]{
		font-size: 14px;
		padding: 4px;
		margin: 0;
	}
}

/*Typography
-----------------*/
body {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 24px;
	padding: 10px 0;
}
h2 {
	font-size: 18px;
	padding: 5px 0;
}
h3 {
	font-size: 16px;
	padding: 2px 0;
}

.pagination-list,
.main-nav {
	@extend %horizontal-list;
}


/*Generic styles
----------------------------------------------*/

/*Main layout
----------------------------------------------*/
.main-holder {
	padding: 15px;
}

.main-header,
.main-footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Components
----------------------------------------------*/


.search .btn {
	@include btn;
}
.search {
	@include text-input;
}

.order-btn {
	display: block;
	padding: 10px 0;
	color: #aaa;
	text-transform: lowercase;
}


// gloassary terms

.entry-row {
	padding: 5px 0;
	@include clearfix;
}

.entries {
		.term {
			font-weight: bold;
			margin-top: 10px;
			padding: 10px 0;
			border-top: 1px solid #000;
		}
		.term-description {
			padding-left: 20px;
		}

	.btn {
		width: 100px;
		float: right;
		@include btn;
	}
}

.pagination {
	padding: 10px 0;
	@include link-styles(#000, #000, bold);
}

.pagination .disabled a {
	color: #aaa;
}

.main-nav {
	@include link-styles(#000, #000, bold);
}

@media screen and (min-width: $small-screen) {
}
@media screen and (min-width: $medium-screen) {
	.main-holder {
		@include center;
	}
	.main-footer {
		@include center;
	}
}