<div class="search">
	<input ng-model="englishQuery" placeholder="english" type="text" value="">
	<input ng-model="polishQuery" placeholder="polish" type="text" value="">
</div>
<span ng-click="reverse = !reverse">Reverse</span>
<ul>
	<li ng-repeat="entry in filteredEntries = (searchedEntries = (entries | filter:{englishWord: englishQuery, translatedWord: polishQuery}) | orderBy:'englishWord':reverse | pagination: currentPage: pageSize )">
	<input type="text" ng-model="entry.englishWord" />
	<input type="text" ng-model="entry.translatedWord" />
	<input type="submit" ng-click="update(entry)" />
	</li>
</ul>
<div class="pagination">
	<ul>
		<li><a ng-click="setPage(currentPage-1)">Prev</a></li>
		<li ng-repeat="page in pages"><a ng-click="setPage(page)">{{page+1}}</a></li>		
		<li><a ng-click="setPage(currentPage+1)">Next</a></li>
	</ul>
</div>